{% extends "base.html" %}
{% block content %}
<h1 class="text-center">UPDATE TODO FORM</h1>
<form action="" method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" value="{{todo.title}}" class="form-control" id="title" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="" required> {{todo.description}} </textarea>
    </div>
    <button type="submit" name="">Submit</button>
</form>


{% endblock %}